.env

# Local copies of running-config before restore
files/pre_restore/
*.from-gitlab.cfg


# Ansible
*.retry
ansible.log

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# IDE и ОС
.idea/
.vscode/
.DS_Store
*.swp