[defaults]
inventory = inventory.ini
roles_path = ./roles
stdout_callback = default
callbacks_enabled = timer
interpreter_python = /usr/local/bin/python3.11
host_key_checking = False

[callback_default]
result_format = yaml